/*Establecemos márgenes y tipo de letra base*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*Estilo del encabezado*/
header {
    background-color: #d25ff5;
    color: white;
    padding: 20px 0;
    text-align: center; 
}

/*Estilo del formulario*/
.formulario {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*Campos de texto y área para contenido*/

.formulario input, 
.formulario textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Boton de publicación*/

.formulario button {
    padding: 10px 20px;
    background-color: #b47df1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Cambio de color al pasar el mouse*/
.formulario button:hover {
    background-color: #0056b3;
}

/*Contenedor de entradas del blog*/
.entradas{
    max-width: 600px;
    margin: 20px auto;
}

/*Estilo de cada entrada individual*/
.entrada {
    background-color: #ecb2fd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 26px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*Estilo de botones de edicion y borrado*/
.entrada-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Efecto hover en los botones*/
.entrada-buttons button:hover{
    background-color: #ddd;
}